.section-header {
  font-size: 2em;
  font-weight: bold;
}

.tiny-link {
  font-size: .85em;
}

/* Apply box-sizing to all elements */
* {
box-sizing: border-box;

}

body {
font-family: Arial, sans-serif;
padding: 20px;
}


.container {
display: flex;
justify-content: center;  /* Horizontal center */
align-items: center;      /* Vertical center */
/*height: 100vh;*/            /* Full viewport height */
background-color: hsla(75, 69.2%, 47.1%, 0.3);
}



.box {
display: inline-block;
/*width: 500px;*/
padding: 20px;
border: 5px solid silver;
margin: 30px;
background-color: #ffffff;
color: #333;

}

.qbox {
display: inline-block;
/*width: 500px;*/
padding: 20px;
border: 5px solid #fff;
margin: 30px;
background-color: #ffffff;
color: #333;

}

.link-icon {
  display: inline-block;
  border: 1px solid black;
  margin: 1px;
}
